
<div class="container">
  <h2>Employee List</h2>
  <!-- for filter -->
  <input type="text" class="col-sm-8" id="exampleFormControlInput1" placeholder="Enter to search name ..."[(ngModel)]="nameSearch">
  <button type="button" class="btn btn-primary" (click)="onfilter()">Search</button>
  <button type="button" class="btn btn-secondary" (click)="onfilterclear()">clear</button> <br><br>
<div>
     
        <!-- <div class="button">
            <button type="button" class="btn btn-primary" #profileBtnRef 
            (click)="viewProfile(profileBtnRef)" >Add Employee</button></div>
        -->
       
      <!-- <button class="my-1 btn btn-primary" routerLink="add">Add Employee</button> -->
      <button class="my-1 btn btn-secondary mx-3" routerLink="add">Add Employee</button>
       <button class="my-1 btn btn-primary mx-3" (click)="bulkdelete()">Delete</button>

      <!-- for sorting -->
      <label>Sort by</label>
        <select [(ngModel)] = 'SortbyParam'>
          <option value="firstname">FirstName</option>
          <option value="lastname">LastName</option>
          <option value="department">Department</option>
        </select>
    
  
    </div>
    <table class="table table-striped border border-secondary">
      <thead>
        <tr>
          <input type="checkbox" (change)="bulk($event)">
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Birth date</th>
          <th scope="col">Gender</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeeListItem of employeeList | filter:search | sort : SortbyParam | paginate: { itemsPerPage: 5, currentPage: p }"appHighlight>
          <td> <input type="checkbox" [checked]="checks"> </td>
          <td>{{employeeListItem.id}}</td>
          <td>{{employeeListItem.firstname}}</td>
          <td>{{employeeListItem.lastname}}</td>
          <td>{{employeeListItem.birthdate}}</td>
          <td>{{employeeListItem.gender}}</td>
          <td>{{employeeListItem.department}}</td>
          <td>
            <button (click)="deleteEmployee(employeeListItem.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>